# pixi environments
.pixi/*
!.pixi/config.toml

# Python cache
__pycache__/*

# VSCode settings
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

#data
data_raw/*